*,
*::before,
*::after {
	box-sizing: border-box;
}

:host {
	--coord-text: #333;
	--dark-text: #333;
	--light-text: #f6f6f6;

	display: block;
}

.file-coords {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 51;
	margin-inline-start: -2px;
	margin-block-end: 2px;
	user-select: none;
}
.file-coords[data-orientation='b'] {
	flex-direction: row-reverse;
}
.file-coords[data-coords='outside'] {
	top: 100%;
}
.file-coords[data-coords='inside'] {
	bottom: 0;
}
.file-coords div {
	flex: 1;
	display: flex;
	justify-content: end;
	color: var(--coord-text);
}

.file-coords[data-orientation='w'][data-coords='inside'] div:nth-child(odd) {
	color: var(--light-text);
}
.file-coords[data-orientation='w'][data-coords='inside'] div:nth-child(even) {
	color: var(--dark-text);
}
.file-coords[data-orientation='b'][data-coords='inside'] div:nth-child(odd) {
	color: var(--dark-text);
}
.file-coords[data-orientation='b'][data-coords='inside'] div:nth-child(even) {
	color: var(--light-text);
}
