*,
*::before,
*::after {
	box-sizing: border-box;
}

:host {
	--coord-text: #333;
	--dark-text: #333;
	--light-text: #f6f6f6;

	display: block;
	container-type: inline-size;
	container-name: coords-container;
}

.ranks,
.files {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
	font-weight: 500;
	position: absolute;
	z-index: 51;
	user-select: none;

	@container coords-container (width <= 20rem) {
		font-size: 5cqi;
	}
}
.ranks div[data-color='w'],
.files div[data-color='w'] {
	color: var(--dark-text);
}
.ranks div[data-color='b'],
.files div[data-color='b'] {
	color: var(--light-text);
}

.ranks {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	top: 0;
}
.ranks[data-orientation='b'] {
	flex-direction: column;
}
.ranks div {
	flex: 1;
	display: flex;
	align-items: start;
	padding-top: 0.125em;
}
.ranks[data-ranks='left'] {
	left: 0;
}
.ranks[data-ranks='left'] div {
	justify-content: start;
	padding-left: 0.125em;
}
.ranks[data-ranks='right'] {
	right: 0;
}
.ranks[data-ranks='right'] div {
	justify-content: end;
	padding-right: 0.125em;
}
.ranks[data-files='top'] div {
	align-items: end;
	padding-top: 0;
	padding-bottom: 0.125em;
}
.ranks[data-files='bottom'] div {
	align-items: start;
	padding-top: 0.125em;
	padding-bottom: 0;
}

.files {
	display: flex;
	flex-direction: row;
	width: 100%;
	left: 0;
}
.files[data-orientation='b'] {
	flex-direction: row-reverse;
}
.files div {
	flex: 1;
	display: flex;
	padding-inline: 0.125em;
}
.files[data-files='bottom'] {
	bottom: 0;
}
.files[data-files='bottom'] div {
	align-items: end;
	padding-bottom: 0.125em;
}
.files[data-files='top'] {
	top: 0;
}
.files[data-files='top'] div {
	align-items: start;
	padding-top: 0.125em;
}
.files[data-ranks='left'] div {
	justify-content: end;
}
.files[data-ranks='right'] div {
	justify-content: start;
}
