*,
*::before,
*::after {
	box-sizing: border-box;
}

:host {
	--coord-text: #333;
	--dark-text: #333;
	--light-text: #f6f6f6;

	display: block;
}

.rank-coords {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
	font-weight: 500;
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	height: 100%;
	bottom: 0;
	z-index: 51;
	margin-inline-start: 2px;
	margin-block-end: -2px;
	user-select: none;
}
.rank-coords[data-orientation='b'] {
	flex-direction: column;
}
.rank-coords[data-coords='outside'] {
	right: 100%;
}
.rank-coords[data-coords='inside'] {
	left: 0;
}
.rank-coords div {
	flex: 1;
}

.rank-coords[data-orientation='w'][data-coords='inside'] div:nth-child(odd) {
	color: var(--light-text);
}
.rank-coords[data-orientation='w'][data-coords='inside'] div:nth-child(even) {
	color: var(--dark-text);
}
.rank-coords[data-orientation='b'][data-coords='inside'] div:nth-child(odd) {
	color: var(--dark-text);
}
.rank-coords[data-orientation='b'][data-coords='inside'] div:nth-child(even) {
	color: var(--light-text);
}
